<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<title>MVC With burgers!</title>
		<style>
		body{
	  	background-color:#333300;
	    color: #FFFFFF;
		}
		#eaten{
			background-color: rgb(160, 17, 212);
		}

		</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
